# defaults to production in build or preview and draft in dev mode 
# Optional

# MODE="production" 

PUBLIC_CLOUDINARY_CLOUD_NAME="<Your Cloud Name>"
PUBLIC_SANITY_DATASET="<Your Public Sanity Dataset>"
PUBLIC_SANITY_PROJECT_ID="<Your Public Sanity Product ID>"