---
import ArrowNarrowRight from "@tabler/icons/outline/arrow-narrow-right.svg";
import MapPin from "@tabler/icons/outline/map-pin.svg";
import Point from "@tabler/icons/outline/point.svg";
import FormattedDate from "@/components/FormattedDate.astro";
import type { Minutes } from "@/sanity/lib/queries/minutes";
import Badge from "../Badge.astro";

type Props = {
  data: Minutes;
  class?: string;
};
const { data, class: className } = Astro.props;

const formatType = (type: string) => {
  if (type === "agm") return "AGM";
  return type.charAt(0).toUpperCase() + type.slice(1).replace("-", " ");
};
---

<article
  class="split-card space-y-2 cursor-pointer flex flex-col relative z-10 p-4"
>
  <div class="flex flex-row justify-between items-center">
    <Badge
      variant={"secondary"}
      size={"xs"}
      class={"font-mono text-xs uppercase tracking-wider flex items-center gap-1.5"}
    >
      <Point class="fill-destructive text-destructive w-2.5 h-2.5" />
      {formatType(data.type)}
    </Badge>
    <span class="flex items-center gap-1 text-muted-foreground font-medium">
      <FormattedDate date={new Date(data.pubDate)} />
    </span>
  </div>

  <div class="space-y-3">
    <h3
      class="font-sans split-target text-2xl md:text-3xl font-medium leading-snug"
    >
      {data.title}
    </h3>

    <div class="flex flex-row items-center justify-between mt-4">
      <div class="flex items-center gap-1.5 text-sm text-muted-foreground">
        <MapPin class="size-4" />
        <span>{data.location}</span>
      </div>
      <a
        class="inline-flex items-center gap-2 font-mono text-xs uppercase tracking-widest hover:text-primary transition-colors leading-none"
        href={`/minutes/${data.slug}/`}
      >
        Read minutes <ArrowNarrowRight class="w-4 h-4" />
      </a>
    </div>
  </div>
</article>
<script>
  import { initCardSplitTextAnimation } from "@/utils/animations/cards-split-text-animation";

  if (typeof window !== "undefined") {
    window.addEventListener("load", () => {
      if (!document.querySelector("[data-manual-card-anim]")) {
        initCardSplitTextAnimation();
      }
    });
  }
</script>
