@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-white: var(--white);
    --breakpoint-xs: 30rem;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
	--background: #2A2A2A;
	--foreground: #f5fbda;
	--white: #ffffff;
	--primary: #b9d175;
	--secondary: #b9d175;
	--font-sans: var(--font-suisse);
	--font-mono: var(--font-sometype);
    --radius: 0.625rem;

}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }